div.Task {
    /*display: inline-block;
    min-height: 5vh;
    min-width: 5vw;
    max-width: 20vw;*/
    display: table-cell;
    min-width: 5vw;
    max-width: 20vw;
    height: auto;
    padding: 0em 1.5em 1.5em 1.5em;
    word-wrap: break-word;
    list-style: none;
    border: 1em solid #282c34;
    background-color: #4a3958;
}